<?xml version="1.0" ?>
<web-app>
	<display-name>Report Logs Servlet</display-name>
	<description>Report Logs App</description>
	<servlet>
		<servlet-name>Engineers</servlet-name>
		<servlet-class>EngineersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Sites</servlet-name>
		<servlet-class>SitesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Alarms</servlet-name>
		<servlet-class>AlarmsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logs</servlet-name>
		<servlet-class>LogsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddEntry</servlet-name>
		<servlet-class>AddEntryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddEngineer</servlet-name>
		<servlet-class>AddEngineerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Engineers</servlet-name>
		<url-pattern>/engineers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sites</servlet-name>
		<url-pattern>/sites</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Alarms</servlet-name>
		<url-pattern>/alarms</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logs</servlet-name>
		<url-pattern>/logs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEntry</servlet-name>
		<url-pattern>/addentry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEngineer</servlet-name>
		<url-pattern>/addengineer</url-pattern>
	</servlet-mapping>
</web-app>
